.dashboard__home{
    background-color: #eee;
    min-height:1000px;
    
}

.sidedrawer__open{
    padding:3% 4%
}



.patty__button{
    background-color: #eee;
    border:none;
}

.link__option{
    padding:2% 0;
    margin: 5% 4%;
    border: 1px solid #E6E6E6;
    transition-duration: 250ms;
}

.link__option p{
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #D1D1D1;
    margin-left:5%;
}

.link__holder{
    margin-top:10%!important;
    transform: scale(1.01);
}

.link__option:hover{
    transform: scale(1.05);
}


.construction__sign{
    text-align: center;
    margin-top:10%;
}

.construction__sign h1{
    text-align: center;
}