.user__title p {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  padding: 25px;
}
.contact__information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.organizer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.headers p {
  padding: 6px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.information p {
  padding: 6px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.profile__img label {
  text-align: center;
  margin-top: 5%;
  cursor: pointer;
  display: block;
  line-height: 70px;
  padding: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 50%;
}

.profile__img img {
  width: 100%; /* Default size for website view */
  height: 100%;
  border-radius: 50%; /* Make it round */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.information input {
  padding: 6px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  margin: 10% 0;
  letter-spacing: 0em;
  text-align: left;
  margin: 5% 0;
  border: none;
}

.editable input {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
}
.edit__picture {
  justify-content: center;
  border-radius: 50%;
  /* background-color: #d1d1d1; */
  width: 20%;
  height: 175px;
}

.editpage__buttons {
  text-align: center;
}

.editpage__buttons button {
  margin: 4%;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;
}

@media (max-width: 768px) {
  .card__container {
    width: 90%;
  }

  .headers,
  .information {
    width: 50% !important;
  }

  .headers p {
    margin-left: 25%;
  }

  .profile__img img {
    width: 175px; /* Adjust the size for smaller screens */
    height: 200px;
    margin: 4% 0;
  }

  .profile__img label {
    text-align: center;
    text-align: center;
    margin-top: 0;
    width: 200px; /* Adjust the size for smaller screens */
    height: 225px;
    cursor: pointer;
    display: block;
    line-height: 0;
    border-radius: 50%;
    margin-bottom: 10%;
  }
  .user__title p {
    padding: 0px;
  }
}
