.first__signup__card{
    text-align: center;
}


.googleSignUp__button button{
    cursor:grab;
    width:70%;
    padding:2px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    background: #F0F1F5;
 }

 .googleSignUp__button button p{
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin:5px;
    
 }

 .email__signUp button{
    width:70%;
    font-family: 'inter';
    font-weight: 700;
    padding:12px;
    border-radius: 5px;
    background: #000;
    color:white;
    cursor:grab;
 }

 .aditional__info{
    font-family: "Raleway";
    margin-top:10%;
    line-height:0.6rem;

 }

@media (Max-width:768px){
    
    .googleSignUp__button button{
        cursor:grab;
        width:70%;
        padding:2px;
        border-radius: 5px;
        border: 1px solid #DCDCDC;
        background: #F0F1F5;
     }
    
}
