.login__main__page{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 18%;
    
}



.login__section{
    width:65%;
}

.desktop__singin{
    width:100%;
}

@media (Max-width:768px){

    .login__picture{
        background-image: url('../../pictures/loginHero.jpg');
        height:250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .login__section{
        width:90%;
    }



}