.login__picture{
    background-image: url('../../pictures/loginHero.jpg');
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:33%;
    
}

@media (Max-width:768px){

    .login__picture{
        background-image: url('../../pictures/loginHero.jpg');
        height:250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .login__section{
        width:90%;
    }
}