.custom-checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-label {
  margin-left: 8px;
}

input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
